<a href="https://colab.research.google.com/github/shahidulislamkhokon/ApacheSpark-PySpark-/blob/main/PySpark_Handling_Missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PySpark Handling Missing Values:**
- Dropping Columns
- Dropping Rows
- Various Prameer in Dropping Functionalities
- Handling Missing values by Mean, Median and Mode

In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df_pyspark = spark.read.csv('test_with_missing_value.csv', header=True, inferSchema=True)

In [ ]:
df_pyspark.show()

**Drop the colums**

In [ ]:
df_pyspark.drop('Name').show()

We can drop a row if there have at list one null value or all row is null
- how = any (if you want ot drop a row if there is at least one null value)
- how = all (if all row are null than you should use all)

In [ ]:
### any=how
df_pyspark.na.drop(how='all').show()

In [ ]:
### any=how
df_pyspark.na.drop(how='any').show()

Otherwise you can delete if there is at least threshold amount of non-null value (for instance, 2 or 3 non-null value in a row)

In [ ]:
### theshold
df_pyspark.na.drop(how='any', thresh=3).show()

On the other hand, if you want to delete null value w.r.t column than you should use **Subset** parameter in the drop function

In [ ]:
### subset
df_pyspark.na.drop(how='any', subset=['Name']).show()

**Fill**ing the Missing Value

In [ ]:
df_pyspark.na.fill('Missing value').show() ## replace null value with your own value

In [ ]:
df_pyspark.na.fill('Missing value', 'profession').show() ## replace specific column

**Handling Missing values by Mean, Median and Mode**

In [ ]:
df_pyspark.show()

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience']]
).setStrategy('mode')

In [ ]:
imputer.fit(df_pyspark).transform(df_pyspark).show()