In [1]:
# spark install
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     -------------------------------------- 281.3/281.3 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     -------------------------------------- 199.7/199.7 kB 3.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=0e8bc705c24f903641b5ad99ef939f5993864bc1465d9567fa23a2bef356992b
  Stored in directory: c:\users\md shahidul islam\appdata\local\pip\cache\wheels\81\9c\6c\d5200fcf351ffa39cbe09911e99703283624cd037df58070d9
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pyspark
import pandas as pd

In [4]:
#read file
pd.read_csv('test1.csv')

      Name  Age
0   Khokon   29
1    Ishan   31
2   Shahed   28
3   Rahman   34
4   Saddam   34
5  Rakibul   26

In [5]:
#createing SparkSession
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()